<launch>
    <node pkg="tf_module" name="tf_transforms_base" type="tf_transforms_base.py" required="true"/>
    <node pkg="lasr_shapely" name="shapely" type="service"/>
    <node pkg="lasr_vision_yolov8" type="service" name="service" output="screen"/>
    <node pkg="desired_luggage_locator" type="main.py" name="main"/>

</launch>